@mixin disableTextHighlighting() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// Transition
@function vendor-args($arg, $vendor) {
    $result: ();
    @each $i in $arg {
      @if $i == transform { $result: append($result, #{$vendor}$i); }
      @else { $result: append($result, $i); }
    }
  @return $result;
}
@mixin vendor($property, $args...){
  @each $vendor in ('-webkit-', '') {
    $out: null;
    @each $arg in nth($args,1) {
      $out: ($out, vendor-args($arg, $vendor));
    }
    #{$vendor}#{$property}: $out;
  }
}
@mixin transition($args...) {
  @include vendor(transition, $args);
}


@mixin transition($transition) {
	-webkit-transition: #{$transition};
	        transition: #{$transition};
}

@mixin transition-delay($seconds) {
    -webkit-transition-delay: $seconds;
            transition-delay: $seconds;
}

@mixin padding-transition($duration) {
    -webkit-transition: padding $duration ease;
            transition: padding $duration ease;
}
@mixin transition-background($seconds) {
    -webkit-transition: background $seconds ease-in;
            transition: background $seconds ease-in;
}

@mixin transform($val) {
    -webkit-transform: $val;
       -moz-transform: $val;
        -ms-transform: $val;
         -o-transform: $val;
            transform: $val;
}

//Cross browser opacity

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

//Flip horizontal
@mixin flip($direction) {
    @if $direction == horizontal {
        @include transform(scaleX(-1));
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    @if $direction == vertical {
        @include transform(scaleY(-1));
        filter: FlipV;
        -ms-filter: "FlipV";
    }
}


/* animation mixing
keyframe animation
@include animation('animation-name .4s forwards')*/

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin animation2 ($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browser: '-webkit-'; @content;
    }
    @-moz-keyframes #{$animationName} {
        $browser: '-moz-'; @content;
    }
    @-o-keyframes #{$animationName} {
        $browser: '-o-'; @content;
    }
    @keyframes #{$animationName} {
        $browser: ''; @content;
    }
} $browser: null;

@include keyframes(slideDown) {
  0% {
    @include opacity(0);
    max-height: 0;
    display: none;
  }
  1% {
    @include opacity(0);
    max-height: 0;
    display: block;
  }
  100% {
    @include opacity(1);
    max-height: 900px;
    display: block;
  }
}

@include keyframes(animation-name) {
   0% {
       #{$browser}transform: rotate(0deg);
   }
   100% {
       #{$browser}transform: rotate(360deg);
   }
}

@include keyframes(bounce) {
    0%, 40%, 60%, 80%, 100% {
        @include transform(translateY(0));
    }
	50%, 70% {
        @include transform(translateY(4px));
    }
}

@include keyframes(fadeInUp) {
    0% {
        @include opacity(0);
        @include transform(translate3d(0, 100%, 0));
    }
    100% {
        @include opacity(1);
        @include transform(none);
        animation-fill-mode: forwards;
    }
}

@include keyframes(displayUp) {
    0% {
      display: none;
      @include opacity(0);
      max-height: 0;
    }
    1% {
      display: block;
      @include opacity(0);
      max-height: 0;
    }
    100% {
      @include opacity(1);
      max-height: 80px;
      animation-fill-mode: forwards;
    }
}

@include keyframes(displayDown) {
    0% {
      display: none;
      @include opacity(0);
      max-height: 0;
    }
    1% {
      display: block;
      @include opacity(0);
      max-height: 0;
    }
    100% {
      @include opacity(1);
      max-height: 80px;
      animation-fill-mode: forwards;
    }
}

@include keyframes(fadeInDown) {
    0% {
        @include opacity(0);
        @include transform(translate3d(0, 50%, 0));
    }
    100% {
        @include opacity(1);
        @include transform(none);
    }
}


@include keyframes(fadeOut) {
    0% {
        @include opacity(1);
    }
    100% {
        @include opacity(0);
    }
}
@include keyframes(fadeOutDown) {
    0% {
        @include opacity(1);
        @include transform(none);
    }
    100% {
        @include opacity(0);
        @include transform(translate3d(0, 50%, 0));
    }
}

@mixin box-shadow($val) {
    -webkit-box-shadow: $val;
            box-shadow: $val;
}

@mixin triangle($size, $colour, $parent-width) {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 unquote($size+'px') unquote(($size+2)+'px') unquote($size+'px');
    border-color: transparent transparent $colour transparent;
    position: absolute;
    margin-top: unquote(-($size+2)+'px');
    margin-left: unquote(($parent-width / 2) - ($size) + 'px') ;
    z-index: -1;
}

//Background Transitions

@mixin transition-background($seconds) {
  -webkit-transition: background $seconds ease-in;
  -moz-transition: background $seconds ease-in;
  -ms-transition: background $seconds ease-in;
  -o-transition: background $seconds ease-in;
  transition: background $seconds ease-in;
}

//Border Radius

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Multiple column layout
@mixin column-count($columns) {
    -webkit-column-count: $columns; /* Chrome, Safari, Opera */
       -moz-column-count: $columns; /* Firefox */
            column-count: $columns;
}

/* Media Queries Mixin
    Credits: http://www.impressivewebs.com/modular-css-media-queries-sass/
    Usage: @include media(MEDIA) { PROPRIEDADES }
*/
@mixin media($media) {

    @if $media == desktop {
        @media screen and (min-width: 781px) { @content; }
    }

    @else if $media == mobile {
        @media screen and (max-width: 780px) { @content; }
    }

    @else if $media == small {
        @media screen and (max-width: 640px) { @content; }
    }

    @else if $media == not-small {
        @media screen and (min-width: 641px) { @content; }
    }

    @else if $media == xlarge {
        @media screen and (min-width: 1025px) { @content; }
    }

    @else if $media == not-xlarge {
        @media screen and (max-width: 1024px) { @content; }
    }

    @else if $media == large {
        @media screen and (min-width: 781px) and (max-width: 1024px) { @content; }
    }

    @else if $media == medium {
        @media screen and (min-width: 641px) and (max-width: 780px) { @content; }
    }

    @else if $media == medium-large {
        @media screen and (min-width: 641px) and (max-width: 1024px) { @content; }
    }

    @else if $media == not-xsmall {
        //@media screen and (min-width: 421px) { @content; }
        @media screen and (min-width: 481px) { @content; }
    }

    @else if $media == xsmall {
        //@media screen and (max-width: 420px) { @content; }
        @media screen and (max-width: 480px) { @content; }
    }

	@else if $media == medium-medium {
        @media screen and (max-width: 870px) { @content; }
    }


    // Landscape

    @else if $media == xsmall-landscape {
        @media screen and (max-height: 460px) and (min-width: 640px) { @content; }
    }

    @else if $media == small-landscape {
        @media screen and (max-height: 560px) and (min-width: 640px) { @content; }
    }

    @else if $media == mobile-landscape {
        @media screen and (max-height: 768px) and (min-width: 640px) { @content; }
    }

    @else if $media == desktop-landscape {
        @media screen and (min-height: 769px) and (min-width: 640px) { @content; }
    }


    // Height

    @else if $media == small-height {
        @media screen and (max-height: 560px) { @content; }
    }

    @else if $media == xsmall-height {
        @media screen and (max-height: 420px) { @content; }
    }

    // Print
    @else if  $media == print {
        @media print { @content; }
    }

}

@keyframes fadeInUp {
    0% {
        @include opacity(0);
        @include transform(translate3d(0, 50%, 0));
    }
    100% {
        @include opacity(1);
        @include transform(none);
    }
}

// Bevel corners
@mixin bevel-corner($size) {
  clip-path: polygon($size 0%, calc(100% - #{$size}) 0%, 100% $size, 100% calc(100% - #{$size}), calc(100% - #{$size}) 100%, $size 100%, 0% calc(100% - #{$size}), 0% $size);
}