/* ==========================================================================
   Colors variables
   ========================================================================== */

/*================ Theme Blue ================*/
/*
$color-main-600: #125c77;
//$ color-main-500: #1E92BF; //Main colour
$color-main-400: #007da5; //Main colour
$color-main-100: #4BA8CC;
$color-main-100: #78BED9;
$color-main-100: #A5D3E5;
$color-main-100: #D2E9F2;
$color-main-100: #E4F2F7;
$color-main-100: #eff7fa;
$color-main-100: #F6FBFC;


/*================ Theme Green TAP Brand CTA Services, information ================*/
$color-main-700: #326b14; //Load more color buttons
$color-main-600: #3e8518; //Main colour
$color-main-500: #75c425;
$color-main-400: #94ce28;
$color-main-300: #91d83a;
$color-main-200: #f1fcdd;
$color-main-100: #f1fcdd;
$color-main-50:  #f0fee9;




/*================ CTA Sales ================*/

$color-cta-sales-600: #dc000a;
$color-cta-sales-500: #c2000f;
$color-cta-sales-400: #b50012;


/*================ Grayscale (OLD) ================*/
/*
$ color-gray-900: #333; // normal text
$ color-gray-800: #4d4d4d; //
$ color-gray-500: #6e6e6e; //
$ color-gray-400: #b2b2b2; // inputs border
$ color-gray-300: #ccc; // Dividers
$ color-gray-200: #e5e5e5; // Container border, disabled states
$ color-gray-150: #f1f1f1; //
$ color-gray-100: #fafafa; // Container background
*/


//================ Grayscale - New Flytap (by Wingman) =============

$color-gray-900: #2c2c2c; // normal text
$color-gray-800: #2c2c2c; //
$color-gray-700: #2d2d2d;
$color-gray-500: #666666; //

$color-gray-400: #999999; // inputs border

$color-gray-300: #CCCCCC; // Dividers
$color-gray-250: #BBBBBB; // background steps
$color-gray-200: #dbdbdb; // Container border, disabled states

$color-gray-150: #EEEEEE; //
$color-gray-100: #EAEAEA; // Container background

//$color-gray-50:  #F2F2F2; // Even background
$color-gray-50:  #F5F5F5; // Even background OLD

/*================ Green ================*/

$green1:    #96cc2f; //main green - Success Messages
$green2:    #395300; //main green - hover and active


/*================ Green TAP Brand ================*/
$color-green-tap-600: #67a248;
$color-green-tap-500: #56ba22;
$color-green-tap-400: #78c84e;
$color-green-tap-300: #9ad67a;
$color-green-tap-200: #bbe3a7;
$color-green-tap-100: #ddf1d3;
$color-green-tap-50: #e4f4dc;
$color-green-tap-30: #f1f9ed;
$color-green-tap-20: #f8fcf6;

/*================ Notifications, cards, etc. ================*/

$orange: #F7AC3B;



//$ color-error: #ff3030;
//$ color-error-light: #E2A5A7;

$color-warning-600: #bf2424;
$color-warning-500: #ff3030; //$color-error
$color-warning-400: #ff8383;
$color-warning-300: #ffacac; //$color-error-light

$color-warning-100: #ffba31; // yellow warning
$color-warning-50:  #ffd800; // warning flytap

$color-notification: #fffcd8;

/*================ Brands ================*/

$color-brand-discount: #ec1c24;
$color-brand-basic: #00803e;
$color-brand-classic: #00622F;
$color-brand-plus: #0096c0;
$color-brand-executive: #1b3155;


/* ==========================================================================
   Fonts variables
   ========================================================================== */


$fallback: Arial, Helvetica, sans-serif;
$main-font: 'Lato', 'Roboto', $fallback;
$cta-font: 'Montserrat', $fallback;
//$ main-font: 'Open Sans', $fallback;
//$ main-font: 'Helvetica Neue', 'Arial', $fallback;
//$ main-font: 'Lato', $fallback ;


/* ==========================================================================
   Size variables
   ========================================================================== */

$seat-size: 30;
$seat-wrapper-size: 40;
