h2,
aside > h1 {
    margin-top: 0;
    font-size: 2.2rem;
    font-weight: 300;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-weight: 500;
}


// Headings FlyTap
h1,h2,h3,h4, {
    font-family: $cta-font;
    color: $color-gray-700;
    font-weight: 800;
}
h1 {
    font-size: 5.2rem;
}
h2 {
    font-size: 3.5rem;
    @include media(xsmall) {
        font-size: 2.5rem;
    }

    &.small-title {
        font-size: 2rem;
    }
}
h3 {
    font-size: 3rem;
    @include media(xsmall) {
        font-size: 2rem;
    }
}
h4 {
    font-size: 1.9rem;
    margin-bottom: 0.52rem;
}
.title-bottom-text {
    h1, h2, h3, h4 {
        -webkit-margin-after: 0;
    }

    p {
        -webkit-margin-after: 0.83em;
    }
}

// Change scroollbars
body ::-webkit-scrollbar {
    width: 6px;
}
body ::-webkit-scrollbar-track {
    background-color: #a6a6a7;
}
body ::-webkit-scrollbar-thumb {
    background-color: #6f6f72;
}
body ::-webkit-scrollbar-thumb:hover {
    background-color: #79797b;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.input:focus,
.selectbox:focus,
.radio-input:focus,
.checkbox:focus,
.focus {
    //outline: $color-main-400 solid 2px;
}
a:focus,
button:focus {
    //outline: $color-main-400 solid 2px;
}

option {
    font-style: normal;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.clear {
    clear: both;
}

.no-scroll {
    overflow: hidden;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.block {
    display: block;
}
.block-important {
	display: block !important;
}
.block-mobile {
    @include media(mobile) {
        display: block !important;
    }
}
.inline-block {
    display: inline-block;
}

.no-border {
    border: none !important;
}

@include media(not-small) {
    .fleft-desktop {
        float: left;
    }
    .fright-desktop {
        float: right;
    }
}

.flex {
    @include flexbox();
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.no-border.no-border {
    border: none;
}

.main-text-color {
    color: $color-gray-800;
}
.main-color {
    color: $color-main-600;
}
.accent-color {
    color: $color-cta-sales-600;
}

.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.semibold {
    font-weight: 500;
}
.bold {
    font-weight: 600;
}
.italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}

.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.vertical-center {
	vertical-align: middle;
}
.nowrap {
    white-space: nowrap;
}

.line-through {
    text-decoration: line-through;
}

.no-transition {
    @include transition(none !important);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
@include media(not-small) {
    .visuallyhidden-small {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

.hide {
    display: none;
}
.hidden {
    display: none !important;
}
.hidden-alt {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.visible-print-inline,
.visible-print {
    display: none !important;
}
.print-page-break {
    display: none;
}

@include media(desktop) {
    .hidden-desktop {
        display: none !important;
    }
}
@include media(mobile) {
    .hidden-mobile {
        display: none !important;
    }
}

@include media(not-small) {
    .hidden-not-small {
        display: none !important;
    }
}
@include media(small) {
    .hidden-small {
        display: none !important;
    }
}
@include media(not-xlarge) {
    .hidden-not-xlarge {
        display: none !important;
    }
}




.fadeout {
    visibility: hidden;
    opacity: 0;
    @include transition("visibility 0s 0.3s, opacity 0.3s");
}
.fadein {
    visibility: visible;
    opacity: 1;
    @include transition-delay(0s);
}
@include media(mobile) {
    .fadeout-mobile {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-mobile {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}
@include media(small) {
    .fadeout-small {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-small {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}
@include media(desktop) {
    .fadeout-desktop {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-desktop {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}
@include media(not-small) {
    .fadeout-not-small {
        visibility: hidden;
        opacity: 0;
        @include transition("visibility 0s 0.3s, opacity 0.3s");
    }
    .fadein-not-small {
        visibility: visible;
        opacity: 1;
        @include transition-delay(0s);
    }
}



// For column-count
.prevent-line-break {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    display: table;
}



/* ==========================================================================
   Layout
   ========================================================================== */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    @include opacity(.8);
    left: 0;
    top: 0;
    z-index: 11;
    display: none;
}
.wide {
    width: 100%;
    float: none;
    margin: 0;
}
@include media(desktop) {
    .flexbox-wrapper {
        @include flexbox();
        @include align-items(stretch);
        @include align-content(stretch);
        @include flex-direction(row);
        .content {
            padding-right: 1em;
            @include flex(1);
        }
    }
}
.content {
    box-sizing: border-box;
}

.disclaimer {
    padding: 10px 5px 10px 15px;
    @include media(mobile) {
        padding-left: 0;
        padding-right: 0;
    }

    li {
        padding: 10px 5px;
    }
}

.description-label {
    @extend .italic;
    @extend .text-small;
    margin-bottom: 12px;
}

.split {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
  margin-bottom: 1rem;
}

.user-options-login .split {
  float: left;

  .text {
    margin: 0 33%;
    background-color: #F5F5F5;
    color: $color-gray-900;
  }

}
.modal-content .user-options-login .split .text {background-color: white;}

.split:before {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #999;
	text-align: center;
}
.split .text {
    background-color: #eaeaea;
    z-index: 1;
    position: relative;
    padding: 0 30px;
}

.except {
    padding-top: 14px;
    color: #666;
    font-size: 1.3rem;
    line-height: 16px;
}