/* ==========================================================================
   Icons
   ========================================================================== */
@font-face {
	font-family: 'TAPicons';
	src: url('../../Content/Fonts/TAPicons/TAPicons.eot?qjiks5'); /* IE9 Compat Modes */
	src: url('../../Content/Fonts/TAPicons/TAPicons.eot?#iefixqjiks5') format('embedded-opentype'),
	 url('../../Content/Fonts/TAPicons/TAPicons.svg?qjiks5#TAPicons') format('svg'), /* Legacy iOS */
	 url('../../Content/Fonts/TAPicons/TAPicons.woff?qjiks5') format('woff'),
	 url('../../Content/Fonts/TAPicons/TAPicons.ttf?qjiks5') format('truetype');

}


// Font Icons
[class*="tapicon-"],
.tapicon {
    font-family: 'TAPicons';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
@include media(mobile) {
    .tapicon-mobile {
        font-family: 'TAPicons';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
}
@include media(not-small) {
    .tapicon-not-small {
        font-family: 'TAPicons';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
}


.tapicon-arrow-down:before {
	content: "\e600";
}
.tapicon-arrow-left:before {
	content: "\e601";
}
.tapicon-arrow-right:before {
	content: "\e602";
}
.tapicon-arrow-up:before {
	content: "\e603";
}
.tapicon-long-arrow-down:before {
	content: "\e617";
}
.tapicon-long-arrow-right:before {
	content: "\e61d";
}
.tapicon-date2:before {
	content: "\e604";
}
.tapicon-date1:before {
	content: "\e605";
}
.tapicon-clock:before {
	content: "\e606";
}
.tapicon-multicity:before {
	content: "\e607";
}
.tapicon-plane-return:before {
	content: "\e626";
}
.tapicon-plane:before {
	content: "\e608";
}
.tapicon-twoplanes:before {
	content: "\e609";
}
.tapicon-layover:before {
	content: "\e913";
}
.tapicon-bike:before {
	content: "\e60f";
}
.tapicon-car:before {
	content: "\e614";
}
.tapicon-bus:before {
	content: "\e622";
}
.tapicon-train:before {
	content: "\e60b";
}
.tapicon-insurance:before {
	content: "\e60c";
}
.tapicon-baggage:before {
	content: "\e60d";
}
.tapicon-user:before {
	content: "\e60e";
}
.tapicon-parking:before {
	content: "\e610";
}
.tapicon-check:before {
	content: "\e611";
}
.tapicon-seat:before {
	content: "\e612";
}
.tapicon-hotel:before {
	content: "\e613";
}
.tapicon-location-pin:before {
	content: "\e616";
}
.tapicon-tarifas:before {
	content: "\e618";
}
.tapicon-menu:before {
	content: "\e619";
}
.tapicon-login:before {
	content: "\e61a";
}
.tapicon-logout:before {
	content: "\e61b";
}
.tapicon-definitions:before {
	content: "\e61c";
}
.tapicon-taxes:before {
	content: "\e61e";
}
.tapicon-lock:before {
	content: "\e61f";
}
.tapicon-delete:before {
	content: "\e60a";
}
.tapicon-add:before {
	content: "\e62d";
}
.tapicon-none:before {
    content: "\e620";
}
.tapicon-close:before {
	content: "\e620";
	@include transform (rotate(-45deg));
	display: inline-block;
    position: relative;
    top: -7px;
    left: -7px;
}
.popover-close.tapicon-close.tapicon-close:before {
	@extend .tapicon-close:before;
	top: -3px;
	left: -3px;
	color: white;
}
.tapicon-refresh:before {
	content: "\e621";
}
.tapicon-chrome:before {
	content: "\e90e";
}
.tapicon-firefox:before {
	content: "\e90f";
}
.tapicon-ie:before {
	content: "\e910";
}
.tapicon-opera:before {
	content: "\e911";
}
.tapicon-safari:before {
	content: "\e912";
}
.tapicon-world:before {
	content: "\e615";
}
.tapicon-more-info:before {
	content: "\e625";
}
.tapicon-fares:before {
	content: "\e623";
}
.tapicon-warning:before {
	content: "\e624";
}
.tapicon-info:before {
	content: "\e625";
}
.tapicon-support:before {
	content: "\e967";
}
.tapicon-email:before {
	content: "\e627";
}
.tapicon-link:before {
	content: "\e628";
}
.tapicon-google-plus:before {
	content: "\e91a";
}
.tapicon-facebook:before {
	content: "\e91b";
}
.tapicon-twitter:before {
	content: "\e91c";
}
.tapicon-adult:before {
	content: "\e629";
}
.tapicon-children:before {
	content: "\e62a";
}
.tapicon-children-not-allowed:before {
	content: "\e915";
}
.tapicon-babie:before {
	content: "\e62b";
}
.tapicon-search:before {
	content: "\e634";
}
.tapicon-share:before {
	content: "\e62c";
}
.tapicon-star:before {
	content: "\e635";
}
.tapicon-baggage-checked:before {
	content: "\e636";
}
.tapicon-baggage-hand:before {
	content: "\e917";
}
.tapicon-transport-accomodation:before {
	content: "\e932";
}
.tapicon-fast-track:before {
	content: "\e638";
}
.tapicon-lounge:before {
	content: "\e639";
}
.tapicon-spinner1:before {
	content: "\e63a";
}
.tapicon-spinner2:before {
	content: "\e63b";
}
.tapicon-spinner3:before {
	content: "\e63c";
}
.tapicon-calendar:before {
	content: "\e971";
}
.tapicon-calendar-checked:before {
	content: "\e630";
}
.tapicon-booking:before {
	content: "\e91d";
}
.tapicon-contact:before {
	content: "\e666";
}
.tapicon-changes:before {
	content: "\e631";
}
.tapicon-miles:before {
	content: "\e632";
}
.tapicon-meal:before {
	content: "\e633";
}
.tapicon-promo:before {
	content: "\e63e";
}
.tapicon-external-link:before {
	content: "\e63d";
}
.tapicon-printer:before {
	content: "\e640";
}
.tapicon-not-combinable:before {
	content: "\e63f";
}
.tapicon-sports-equipment:before {
    content: "\e641";
}
.tapicon-hourglass:before {
    content: "\e642";
}
.tapicon-danish-fund:before {
    content: "\e800";
}
.tapicon-cruise:before {
    content: "\e801";
}
.tapicon-sort:before {
    content: "\e901";
}
.tapicon-filters:before {
    content: "\e902";
}
.tapicon-fullscreen:before {
    content: "\e903";
}
.tapicon-normalscreen:before {
    content: "\e904";
}
.tapicon-corrosive:before {
    content: "\e905";
}
.tapicon-flammable:before {
    content: "\e906";
}
.tapicon-toxic:before {
    content: "\e907";
}
.tapicon-explosives:before {
    content: "\e908";
}
.tapicon-radioactive:before {
    content: "\e909";
}
.tapicon-oxidant:before {
    content: "\e90a";
}
.tapicon-battery:before {
    content: "\e90b";
}
.tapicon-ecigarrette:before {
    content: "\e90c";
}
.tapicon-fuelcomp:before {
    content: "\e90d";
}
.tapicon-access:before {
    content: "\e919";
}
.tapicon-transportation-accommodation:before {
    content: "\e932";
}
.tapicon-experiences:before {
    content: "\e914";
}
.tapicon-unselectable-seat:before {
    content: "\e916";
}
.tapicon-camera:before {
    content: "\e900";
}
.tapicon-tooltip-1:before {
    content: "\e968";
}
.tapicon-tooltip-2:before {
    content: "\e969";
}
.tapicon-ponte-aerea:before {
    content: "\e970";
}
.tapicon-people:before {
    content: "\e972";
}
.tapicon-priority:before {
    content: "\e973";
}
.tapicon-airport-check-in:before {
    content: "\e974";
}
.tapicon-d-boarding:before {
    content: "\e975";
}
.tapicon-d-disembarkation:before {
    content: "\e976";
}
.tapicon-valet-parking:before {
	content: "\e91e";
}

// payment
.svg-multibanco {
    width: 173px;
}
.svg-multibanco-mobile {
    width: 37px;
}
.svg-mbway {
	width: 110px;
}
.svg-paypal {
    width: 130px;
}
.svg-paypal-mobile {
    width: 30px;
}
.svg-alipay {
    width: 105px;
    @include media(small) {
        width: 58px;
    }
}
.svg-alipay-mobile {
	width: 58px;
}
.svg-yapital {
    width: 135px;
}
.svg-yapital-mobile {
    width: 34px;
}
.svg-ideal {
    width: 39px;
}
.svg-ideal-mobile {
    width: 39px;
}


// Flags
.flag {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 24px;
    height: 16px;
    margin: 0 4px;
    border: 1px solid $color-gray-150;
    background: url(../../Content/Images/sprite-flags.png) no-repeat;
	background-size: 26px 953px;
}

.flag-com,
.flag-ao {background-position: -1px -1px}
.flag-ar {background-position: -1px -18px}
.flag-at {background-position: -1px -35px}
.flag-be {background-position: -1px -52px}
.flag-br {background-position: -1px -69px}
.flag-ca {background-position: -1px -86px}
.flag-ch {background-position: -1px -103px}
.flag-cl {background-position: -1px -120px}
.flag-cn {background-position: -1px -137px}
.flag-co {background-position: -1px -154px}
.flag-cv {background-position: -1px -171px}
.flag-cz {background-position: -1px -188px}
.flag-de {background-position: -1px -205px}
.flag-dk {background-position: -1px -222px}
.flag-dz {background-position: -1px -238px}
.flag-ee {background-position: -1px -256px}
.flag-eg {background-position: -1px -273px}
.flag-es {background-position: -1px -290px}
.flag-fi {background-position: -1px -307px}
.flag-fr {background-position: -1px -324px}
.flag-gb {background-position: -1px -341px}
.flag-gh {background-position: -1px -358px}
.flag-gw {background-position: -1px -375px}
.flag-gr {background-position: -1px -392px}
.flag-hk {background-position: -1px -409px}
.flag-hr {background-position: -1px -426px}
.flag-hu {background-position: -1px -443px}
.flag-ie {background-position: -1px -460px}
.flag-it {background-position: -1px -477px}
.flag-lt {background-position: -1px -494px}
.flag-lu {background-position: -1px -511px}
.flag-lv {background-position: -1px -528px}
.flag-ma {background-position: -1px -545px}
.flag-ml {background-position: -1px -562px}
.flag-mx {background-position: -1px -579px}
.flag-mz {background-position: -1px -596px}
.flag-nl {background-position: -1px -613px}
.flag-no {background-position: -1px -630px}
.flag-pa {background-position: -1px -647px}
.flag-pl {background-position: -1px -664px}
.flag-pt {background-position: -1px -681px}
.flag-ro {background-position: -1px -698px}
.flag-rs {background-position: -1px -715px}
.flag-ru {background-position: -1px -732px}
.flag-se {background-position: -1px -749px}
.flag-sk {background-position: -1px -766px}
.flag-sn {background-position: -1px -783px}
.flag-st {background-position: -1px -800px}
.flag-tr {background-position: -1px -817px}
.flag-ua {background-position: -1px -834px}
.flag-us {background-position: -1px -851px}
.flag-uy {background-position: -1px -867px}
.flag-ve {background-position: -1px -885px}
.flag-za {background-position: -1px -901px}
.flag-au {background-position: -1px -919px}


.svg-check {
    width: 30px;
    height: 30px;
}
.svg-arrow {
    width: 11px;
    height: 6px;
}

ul.social-login {
	text-align: center;
	> li {
		display: inline-block;
	}
}

/* Icons :: Sprite :: Big */
.icn-sprite-facebook-big,
.icn-sprite-twitter-big,
.icn-sprite-linkedin-big,
.icn-sprite-google-big {
	display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
	width: 44px;
	height: 44px;
}

.icn-sprite-facebook-big {
    background: url('../../Content/Images/icons/Partners/icn-sprite-facebook-big.svg') no-repeat;
}
.ie8 .icn-sprite-facebook-big { background-position:0 -612px; }
.icn-sprite-twitter-big {
    background: url('../../Content/Images/icons/Partners/icn-sprite-twitter-big.svg') no-repeat;
}
.ie8 .icn-sprite-twitter-big { background-position:0 -660px; }
.icn-sprite-linkedin-big {
    background: url('../../Content/Images/icons/Partners/icn-sprite-linkedin-big.svg') no-repeat;
}
.ie8 .icn-sprite-linkedin-big { background-position:0 -708px; }
.icn-sprite-google-big {
    background: url('../../Content/Images/icons/Partners/icn-sprite-google-big.svg') no-repeat;
}
.ie8 .icn-sprite-google-big { background-position:0 -756px; }

/* Icons :: Sprite :: Big :: Hovers */
.icn-sprite-facebook-big:hover {
    background: url('../../Content/Images/icons/Partners/icn-sprite-facebook-big-on.svg') no-repeat;
}
.ie8 .icn-sprite-facebook-big:hover { background-position:-100px -612px; }
.icn-sprite-twitter-big:hover {
    background: url('../../Content/Images/icons/Partners/icn-sprite-twitter-big-on.svg') no-repeat;
}
.ie8 .icn-sprite-twitter-big:hover { background-position:-100px -660px; }
.icn-sprite-linkedin-big:hover {
    background: url('../../Content/Images/icons/Partners/icn-sprite-linkedin-big-on.svg') no-repeat;
}
.ie8 .icn-sprite-linkedin-big:hover { background-position:-100px -708px; }
.icn-sprite-google-big:hover {
    background: url('../../Content/Images/icons/Partners/icn-sprite-google-big-on.svg') no-repeat;
}
.ie8 .icn-sprite-google-big:hover { background-position:-100px -756px; }
