.ft-form-module--assinatura {
    @extend .ft-form-module;
    margin: 0 auto 20px;

}

.content--assinatura {
    @extend .content;

    h1 {
        font-size: 2.8rem;
        margin-bottom: 0;
        text-align: center;
        margin-top: 0;
    }

    h2 {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 200;
    }

    .signature-container {
        
        h2 { 
            text-align: left;
            font-weight: 600;
        }
    }

}
 
.signature-container {
    margin-top: 10px;
    display: none;
   
    
}

.buttons-wrapper{
    margin-top: 30px;

}

@media screen and (max-width: 480px) {
    .ft-form-module--assinatura .buttons-wrapper button {
        float: none;
        width: 100%;
    }
}

.s_html {
    background-color: white;
    display: inline-block;
    width: 96%;
    padding: 2%;

}

.spacer {
    display: none;
}

.lbl--placeholder--next {
    padding-top: 2.4rem;

    @include media(mobile) {
        padding-top: .6rem;
    }

}

.label span { color: #666;}


.assinatura-negocio-en,
.assinatura-negocio-pt {
    display:none;
}


.assinatura-negocio-en.is-active,
.assinatura-negocio-pt.is-active {
    display: block;
}