/******** Flytap Re ********/
/**************************/
body {
    line-height: 1.2;
}


.header-top,
.header-top__wg,
.header-top__partner--container,
.partner-bar--bottom {
    max-width: 1600px;
    margin: 0 auto; 
}

//HEADER WITH TITLE
.header-title-top {
    .header-logo {
        margin: 25px 0 25px 25px;

        @include media(small) {
            margin: 12px 0 10px 15px;
        }
    }
    .title-application h2 {
        font-size: 3.6rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;

        @include media(not-xlarge) {
            font-size: 3rem;
            margin-top: 2.2rem;
        }
    }
    .header-options {
        margin: 25px 1em 0 0;
    }

    @include media(small) {
        .col {
            width: 50%;
        }
    }
}


.site-header__wg {
    z-index: 15;
    min-height: 135px;
    background-color: #FFF;
    font-size: 15px;
    font-size: 1.5rem;
}

.header-bar__wg {
    position: relative;
    z-index: 5;
    border-bottom: 1px solid #eee;
    color: #666;

    .wrapper__wg {
        height: 35px;
    }

}

.wrapper__wg {
    max-width: 1600px;
    padding: 0 4.68%;
}

.wrapper__wg, .wrap, .wrap-grid, .wrap-section {
    display: block;
    width: 100%;
    margin: 0 auto;
    zoom: 1;
}

.header-logo__wg {
    position: relative;
    z-index: 9;
    display: block;
    float: left;
    width: 255px;
    height: 39px;
    margin-top: 64px;

}

.title-bar {
    position: relative;

}

[class^="menu-"], [class*=" menu-"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.menu-bar__wg {
    display: block;
    float: right;
    margin-left: 40px;
    overflow: hidden;
}

.menu__wg {
    display: block;

    .menu-link {
        padding: 10px;
        padding-bottom: 9px;

        &:first-child {
            margin-left: 0;
            padding-left: 0;

        }

    }
}

.menu-user__wg {
    margin-left: 20px;
    float: right;
    font-size: 0;
}

.menu-bar__partner .menu-user__wg .menu-link--wg {
    max-height: 35px;
}

/* Links */
a.link--wg,
a[class^="link--wg-"],
a[class*=" link--wg-"] { text-decoration:none; }
a.link--wg:after,
[class^="link--wg-"]:after,
[class*=" link--wg-"]:after {
	content: ' ';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
	-moz-transition: width .3s ease, background-color .3s ease;
	-webkit-transition: width .3s ease, background-color .3s ease;
	-ms-transition: width .3s ease, background-color .3s ease;
	-o-transition: width .3s ease, background-color .3s ease;
}
a.link--wg:hover:after,
[class^="link--wg-"]:hover:after,
[class*=" link--wg-"]:hover:after { width:100%; background:#666; }
.text-link,
.site-page .text-link,
[class^="page-lead"] .text-link,
[class*=" page-lead"] .text-link {
	color: #3e8518;
}

.site-header__wg .menu-sites__wg [class^="link--wg"],
.site-header__wg .menu-sites__wg [class*=" link--wg"],
.site-header__wg .menu-user__wg [class^="link--wg"],
.site-header__wg .menu-user__wg [class*=" link--wg"] {
    font-size: 1.4rem;
}

.site-header__wg .menu-link [class^="link--wg"],
.site-header__wg .menu-link [class*=" link--wg"],
.menu-bar__partner .menu-user .header-country--nft [class^=" link--wg"],
.menu-bar__partner .menu-user .header-country--nft [class*=" link--wg"]{
    display: block;
    text-transform: uppercase;
    color: #2c2c2c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.site-header__wg .menu-link:hover [class^="link--wg"]:after,
.site-header__wg .menu-link:hover [class*=" link--wg"]:after,
.site-header__wg .menu-link.is-active [class^="link--wg"]:after,
.site-header__wg .menu-link.is-active [class*=" link--wg"]:after {
    width: 100%;
    background: #666;
}

.site-header__wg .menu-sites__wg [class^="link--wg"],
.site-header__wg .menu-sites__wg [class*=" link--wg"],
.site-header__wg .menu-user__wg [class^="link--wg"],
.site-header__wg .menu-user__wg [class*=" link--wg"],
.menu-user a[class^=" link--wg"],
.menu-user a[class*=" link--wg"] {
    color: #666;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: normal;
    border: none;

}

.site-header__wg .menu-user__wg .menu-link--wg {
    max-height: 35px;
}

.link-icn-support {
    padding-left: 20px;
    //background: url(../../img/publish/icons/Support/support.svg) no-repeat 84%; // Styleguide
    background: url(../Images/icons/Support/support.svg) no-repeat 0; // Flytap
    background-size: 13px 12px;
}

.link-icn-customer {
    //background: url(../../img/publish/icons/General/link-icn-customer-black.svg) no-repeat 84%; // Styleguide
    background: url(../Images/icons/General/link-icn-customer-black.svg) no-repeat; // Flytap
    background-size: 14px;
    padding: 0 0 0 22px;
}

.header-top__partner--container {
    height: 35px;
}

.header-top__partner--wrapper,
.header-top__application--wrapper {
    border-bottom: 1px solid $color-gray-150;
    width: 100%;

    .options {
        @include media(small) {
            display: none;
        }
    }

    .header-top__application-back_link-wrapper {
        padding: 8px .555%;

        .header-top__application-back_link {
            color: $color-gray-500;
            margin: 0 25px;

            .tapicon {
                font-size: 13px;
            }
        }
    }

}



.wrapper__wg {
    max-width: 1600px;
    padding: 0 4.68%;
}

.wrapper__wg,
.wrap,
.wrap-grid,
.wrap-section {
    display: block;
    width: 100%;
    margin: 0 auto;
    zoom: 1;
}

.menu-bar__partner {
    display: block;
    float: right;
    overflow: hidden;
    margin-right: 30px;

    @include media(xsmall) {
        display: inline-block;
        margin-right: 10px;

    }

    .menu-user {
        display: inline-block;
        vertical-align: middle;
        color: $color-gray-500;

        .inline-block .header-language {
            margin-top: 8px;
        }

    }

    .dropdown-toggle {
        padding-right: 0;
    }

    .currency-code {
        display: inline-block;
        font-size: 1.2rem;

    }

    .currency-code::before {
        content: "\e623";
        padding-right: 5px;
        font-family: TAPicons;
        font-size: 2rem;
        position: relative;
        top: 4px;
        @include media(xsmall) {
            top: 5px;
        }

    }

}

.menu-bar__partner.w-country { overflow: inherit;}
.menu-bar__partner.w-country .dropdown-toggle { padding-right: 30px; }

.menu-bar__wg {

    .currency-code {
        display: inline-block;

    }

    .currency-code::before {
        content: "\e623";
        padding-right: 5px;
        font-family: TAPicons;
        font-size: 2rem;
        position: relative;
        top: 3px;

        @include media(xsmall) {
            top: 5px;
        }

    }

}

.title-partner,
.logo-partner {
    margin: 18px 0;

    @include media(mobile) {
        margin: 12px 0;

    }

    h2 {
        margin: 0;
        font-size: 5rem;

        @include media(mobile) {
            font-size: 3.2rem;

        }

    }

}

.partner {
    .logo-mobile {
        width: 250px;
        height: 57px;

        @include media(mobile) {
            width: 200px;
            height: 32px;
        }

    }

    .header-menu {
        float: right;
    }

}

.partner-bar--bottom-wrapper {
    border-top: 1px solid $color-gray-150;
    padding: 10px;
    width: 100%;
}

/* ======= FOOTER FLYTAP=========================== */
/* ========================================== */

.footer-small {
    color: $color-gray-900;
    font-size: 1.5rem;
    width: 100%;
    display: block;
    margin: 0 auto;

    @include media(mobile) {
        text-align: center;
    }

    .header-logo {
        @include media(mobile) {
            float: none;
            margin: 15px;
        }
    }

    &::before {
        content: ' ';
    	display: block;
    	width: 100%;
    	height: 4px;
    	background: rgb(179,216,43); /* Old browsers */
    	background: -moz-linear-gradient(left,  rgba(179,216,43,1) 0%, rgba(179,216,43,1) 49%, rgba(179,216,43,1) 50%, rgba(86,186,34,1) 50%, rgba(86,186,34,1) 73%, rgba(86,186,34,1) 75%, rgba(194,0,15,1) 75%, rgba(194,0,15,1) 100%); /* FF3.6+ */
    	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(179,216,43,1)), color-stop(49%,rgba(179,216,43,1)), color-stop(50%,rgba(179,216,43,1)), color-stop(50%,rgba(86,186,34,1)), color-stop(73%,rgba(86,186,34,1)), color-stop(75%,rgba(86,186,34,1)), color-stop(75%,rgba(194,0,15,1)), color-stop(100%,rgba(194,0,15,1))); /* Chrome,Safari4+ */
    	background: -webkit-linear-gradient(left,  rgba(179,216,43,1) 0%,rgba(179,216,43,1) 49%,rgba(179,216,43,1) 50%,rgba(86,186,34,1) 50%,rgba(86,186,34,1) 73%,rgba(86,186,34,1) 75%,rgba(194,0,15,1) 75%,rgba(194,0,15,1) 100%); /* Chrome10+,Safari5.1+ */
    	background: -o-linear-gradient(left,  rgba(179,216,43,1) 0%,rgba(179,216,43,1) 49%,rgba(179,216,43,1) 50%,rgba(86,186,34,1) 50%,rgba(86,186,34,1) 73%,rgba(86,186,34,1) 75%,rgba(194,0,15,1) 75%,rgba(194,0,15,1) 100%); /* Opera 11.10+ */
    	background: -ms-linear-gradient(left,  rgba(179,216,43,1) 0%,rgba(179,216,43,1) 49%,rgba(179,216,43,1) 50%,rgba(86,186,34,1) 50%,rgba(86,186,34,1) 73%,rgba(86,186,34,1) 75%,rgba(194,0,15,1) 75%,rgba(194,0,15,1) 100%); /* IE10+ */
    	background: linear-gradient(to right,  rgba(179,216,43,1) 0%,rgba(179,216,43,1) 49%,rgba(179,216,43,1) 50%,rgba(86,186,34,1) 50%,rgba(86,186,34,1) 73%,rgba(86,186,34,1) 75%,rgba(194,0,15,1) 75%,rgba(194,0,15,1) 100%); /* W3C */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3d82b', endColorstr='#c2000f',GradientType=1 ); /* IE6-9 */

    }

    .footer-content--wrapper,
    .footer-bar--wrapper {
        max-width: 1170px;
        margin: 0 auto;
    }

    .footer-content {
        padding: 30px 0;
        background: $color-gray-150;

    }

    .footer-item {
        border-left: 1px solid $color-gray-200;
        padding-left: 35px;
        min-height: 126px;

        @include media(mobile) {
            padding: 0;
            border-left: none;
            margin: 0 35px;
            border-bottom: 1px solid $color-gray-200;
            min-height: 0;
        }

        &:first-child {
            border-left: 0;
            padding-left: 15px;

            @include media(mobile) {
                padding: 0;
            }

        }

        &:last-child {
            border-bottom: none;
        }

        .footer-item-description {
            padding: 15px 0;
            min-height: 96px;
            @include media(mobile) {
                padding: 15px;
                min-height: 0;
            }
            .staralliance-logo {
                width: 216px;
                height: 90px;
                @include media(mobile) {
                    height: 40px;
                }
            }

            h4 {
                font-size: 1.5rem;

            }

            ul {
                display: block;
                margin: 22px 0;

            }

            li {
                display: inline-block;
                vertical-align: middle;
                max-width: 42px;
                padding: 0 4px;
                text-align: center;

                &:first-child {
                    padding-left: 0;
                }

                .icn {
                    color: $color-gray-900;
                    display: block;
                }

                img {
                    //margin: 0 auto;
                    max-width: 33px;
                    height: 33px;
                    display: block;
                }

                .img-hover {
                    display: none;
                }

                a:hover > .img-hover {
                    display: block;
                }

                a:hover > .img-default {
                    display: none;
                }
            }

        }

    }

    .footer-bar {
        padding: 10px 30px;
        color: $color-gray-200;
        background-color: $color-gray-900;
        font-size: 1.25rem;


        .footer-links {
            @include media(mobile) {
                margin-bottom: 1rem;
            }
        }

        .link {
            margin-right: 10px;
            color: $color-gray-200;
            border-bottom: 1px solid $color-gray-200;
            font-weight: normal;

            &:hover {
                color: $color-gray-100;
                border-bottom: none;
            }
        }

        .copyright {
            float: right;
            //padding: 3px 0 7px 0;

            @include media(mobile) {
                float: none;
                display: block;
                text-align: center;
            }

        }

        .credits {
            float: right;
            padding-right: 81px;
            padding-top: 3px;
            height: 20px;
            color: $color-gray-200;
            background: url(../../img/publish/tap-web/credits.svg) no-repeat 84%; // Styleguide
            //background: url(../Images/flytap/credits.svg) no-repeat 84%; // Flytap
            text-decoration: none;

            @include media(mobile) {
                float: none;
                text-align: center;
            }

        }

    }

}

// .flag {
//     position: relative;
//     top: 3px;
//     display: inline-block;
//     width: 24px;
//     height: 16px;
//     margin: 0 4px;
//     border: 1px solid #eee;
//     background-size: 26px 953px;
// }


/* ======= SLIDER FLYTAP=========================== */
/* ========================================== */

.range-slider--wrapper {
    margin: 0;
    display: block;

    .range-slider--legend {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-family: $cta-font;
        font-size: 20px;
        font-size: 2.0rem;
    }

    .range-slider {
        position: relative;
        width: 130px;
        height: 2px;
        background: $color-gray-200;
        border: none;
        margin: 2px 10px 0 0;
        vertical-align: middle;

        .ui-widget-header {
            background: $color-gray-700;
        }

        .ui-slider-handle {
            top: -8px;
            margin: 0;
            width: 4px;
            height: 19px;
            background-color: $color-gray-700;
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default,
        .ui-widget-header .ui-state-default {
            border: none;
            background: none;
            font-weight: normal;
            color: #2c2c2c;
        }
    }

    .range-value.mod-standalone {
        max-width: 100px;
        margin-right: 3%;
        color: $color-gray-700;
    }

}


/* ======================= SQUARE INPUTS ============ */

.ipt-xl { height: 42px; padding: 10px; }

[class^="ipt-oneborder"],
[class*=" ipt-oneborder"] {
	width: 100%;
	height: 33px;
	padding: 6px 0;
	background: transparent;
	border: none;
	border-bottom: 1px solid #2c2c2c;
	color: #2c2c2c;
}

[class^="ipt-oneborder"]:focus,
[class*=" ipt-oneborder"]:focus { outline: none; }

.ipt-oneborder-xs { height: 16px; padding: 0 0 2px 0; }

.ipt-oneborder-xl {
	height: 50px;
	padding: 10px 0;
	font-family: 'Montserrat-Bold';
}

.ipt:focus,
.ipt-oneborder:focus,
.ipt-oneborder-xl:focus { /* outline: none; */ }

.ipt-textarea {
	height: 200px;
	resize: none;
}
.ipt-textarea-wrap .ipt-mask:before,
.ipt-textarea-wrap .ipt-mask:after {
    bottom: 2px;
}

.ipt-quantity-wrapper {
	padding: 30px 20px;
	border: 1px solid #ccc;
}
.ipt-quantity-wrapper .ipt-display {
	position: relative;
    z-index: 2;
    width: 75px;
    margin: 0 -8px;
    background: #FFF;
	border: 1px solid #999;
	border-right: 0;
	border-left: 0;
	text-align: center;
}
.ipt-quantity-wrapper .ipt-label,
.ipt-quantity-wrapper .ipt-label-block {
	font-size: 20px;
	font-size: 2.0rem;
	font-family: 'Montserrat-Bold';
}
.ipt-quantity-wrapper .ipt-label-block {
	margin-bottom: 15px;
}
.ipt-quantity-wrapper .btn-txt:before,
.ipt-quantity-wrapper .btn-txt:after {
    border-bottom: 4px solid #999;
}
.ipt-quantity-wrapper .btn-txt .txt {
    background: #999;
    border-right: 4px solid #999;
    border-left: 4px solid #999;
}
.ipt-quantity-wrapper .btn-txt .txt:before,
.ipt-quantity-wrapper .btn-txt .txt:after {
    border-top: 4px solid #999;
}
.ipt-quantity-wrapper .btn-square .mask {
	width: 80%;
	margin: 0 auto;
	padding-left: 2px;
	text-align: left;
}
.ipt-quantity-wrapper .ipt-display + .btn-square .mask {
	text-align: right;
}
.ipt-quantity-wrapper .btn-txt .mask:before,
.ipt-quantity-wrapper .btn-txt .mask:after {
    background: #999;
}

.section-title .ipt-oneborder-xl {
	max-width: 220px;
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
	margin-bottom: -10px;
	border-width: 2px;
}
.section-title .ipt-oneborder-xl.ipt-larger {
    max-width: 450px;
}
.section-title .ipt-oneborder-xl.ipt-icn-local {
	background-image: url(../images/form-icn-local-dark.png);
}
.section-title .ipt-oneborder-xl + .stp {
	display: none !important;
}
.ipt-label,
.ipt-placeholder {
	font-size: 18px;
	font-size: 1.8rem;
}
.ipt-label {
	margin-bottom: 5px;
}
.ipt-label.txt {
	font-size: 15px;
	font-size: 1.5rem;
	font-family: 'Lato-Regular';
}
.ipt-placeholder {
	display: block;
	font-family: 'Lato-Light';
	font-style: italic;
}
.ipt-label.txt .ipt-placeholder {
	font-size: 15px;
	font-size: 1.5rem;
	font-family: 'Lato-Light';
	font-style: italic;
}
.ipt-placeholder.mod-aside {
	display: inline;
	vertical-align: top;
	width: auto;
}
.ipt-label, .ipt-wrapper { display: inline-block; vertical-align: middle; }
.ipt-label-block { display: block; margin-bottom: 5px;}
.ipt-label.mod-link { width: 50%; display: inline-block; }
.ipt-wrapper,
.ipt-wrapper-modal { position: relative; width: 100%; }
.ipt-wrap-inline {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.ipt-wrapper.is-readonly:before,
.ipt-wrapper.is-readonly:after,
.ipt-wrapper.is-readonly .ipt-mask:before,
.ipt-wrapper.is-readonly .ipt-mask:after {
	display: none;
}
.ipt-wrapper.is-readonly input {
	padding: 0;
	border: none;
}
.ipt-wrap-small { width: 15%; }
.ipt-wrap-medium { width: 40%; }
.ipt-wrap-large { width: 60%; }
.ipt-wrap-inline.ipt-wrap-small + .ipt-wrap-inline:not(.ipt-wrap-small):not(.ipt-wrap-medium):not(.ipt-wrap-large){
	width: 82%;
}
.ipt-wrap-inline.ipt-wrap-medium + .ipt-wrap-inline:not(.ipt-wrap-small):not(.ipt-wrap-medium):not(.ipt-wrap-large){
	width: 57%;
}
.ipt-wrap-inline.ipt-wrap-large + .ipt-wrap-inline:not(.ipt-wrap-small):not(.ipt-wrap-medium):not(.ipt-wrap-large) {
	width: 37%;
}
.ipt-wrap-inline.ipt-wrap-medium + .ipt-wrap-inline.ipt-wrap-small{
    width: 14%;
}

.ipt-wrap-inline + .ipt-wrap-inline{
    margin-left: 3%;
}

.ipt-mask { position: relative; display: block; height: 100%; }
.ipt-wrapper:before,
.ipt-wrapper:after,
.ipt-wrapper-modal:before,
.ipt-wrapper-modal:after,
.ipt-mask:before,
.ipt-mask:after {
	content: ' ';
	display: block;
	position: absolute;
	z-index: 1;
	width: 6px;
	height: 4px;
	background: #FFF;
	border-bottom: 1px solid #999;
}

.ipt-wrapper:before,
.ipt-wrapper:after,
.ipt-wrapper-modal:before,
.ipt-wrapper-modal:after { top: -1px; }
.ipt-wrapper:before,
.ipt-wrapper-modal:before {
	left: -1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.ipt-wrapper:after,
.ipt-wrapper-modal:after {
	right: -1px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ipt-mask:before, .ipt-mask:after { bottom: -1px; }
.ipt-mask:before {
	left: -1px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.ipt-mask:after {
	right: -1px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
.ipt-display {
	height: 32px;
	border: 0;
	background: transparent;
	font-size: 18px;
	font-size: 1.8rem;
}

/* Input inside Section Modifier */
.mod-section .ipt-wrapper:before,
.mod-section .ipt-wrapper:after,
.mod-section .ipt-wrapper-modal:before,
.mod-section .ipt-wrapper-modal:after,
.mod-section .ipt-mask:before,
.mod-section .ipt-mask:after {
	background: #f2f2f2;
}

/* Input Progress */
.ipt-progress .ipt {
	height: 25px;
	padding: 0;
}

/* Input Search + Button */
.ipt-search {
	padding-right: 44px;
}
.ipt-search.ipt-xl {
	padding-right: 62px;
}
.ipt-button-search {
	width: 37px;
	height: 29px;
	margin: 2px 0;
	padding: 0;
	background: transparent url(../images/form-icn-search.png) no-repeat center center;
	border: none;
	border-left: 1px solid #999;
	text-indent: -9999px;
	font-size: 0;
}
.ipt-wrapper .ipt-button-search {
	position: absolute;
	right: 0;
	top: 0;
}
.ipt-xl + .ipt-button-search,
.ipt-xl ~ .ipt-button-search {
	width: 55px;
	height: 34px;
	margin: 4px 0;
}
.ipt-search.ipt-xl + .ipt-button-search,
.ipt-search.ipt-xl ~ .ipt-button-search {
	width: 62px;
}

.ft-form-module .ipt-wrapper:before,
.ft-form-module .ipt-wrapper:after,
.ft-form-module .ipt-wrapper-modal:before,
.ft-form-module .ipt-wrapper-modal:after,
.ft-form-module .ipt-mask:before,
.ft-form-module .ipt-mask:after {
	background: #eee;
}

/* Select Box */
.ipt-select {
	/*overflow: hidden;*/ /* removido porque nao estava a deixar apresentar o fucos no elemento - browser Safari */
	/*background: transparent url(../images/form-icn-arrow-down.png) no-repeat scroll right 15px center;*/ /* removido porque estava duplicado */
}
.ipt-select .ipt-mask {
	background: #fff url("../../Content/Images/icons/General/bottom.svg") no-repeat 97% 50%;
    background-size: 10px 10px;
}
.ipt-select select {
	color: #2c2c2c;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.ipt-select select.default {
	color: #666;
	font-style: italic;
}
.ipt-select select option {
	color: #2c2c2c;
	font-style: normal;
}
.ipt-select select option.text {
	color: #666;
	font-style: italic;
}
/* ======= Notifications FLYTAP=========================== */
/* ========================================== */

/* Messages :: General */
[class^="msg-"],
[class*=" msg-"] {
	padding: 20px 0;
	background: #fffcd8;
	color: #2c2c2c;
	font-size: 0;
	text-align: left;
}

.page-area .title-note ~ [class^="msg-"],
.page-area .title-note ~ [class*=" msg-"] {
	margin-bottom: 10px;
}

[class^="msg-"] .icon, [class*=" msg-"] .icon,
[class^="msg-"] .image, [class*=" msg-"] .image,
[class^="msg-"] .text, [class*=" msg-"] .text,
[class^="msg-"] .button, [class*=" msg-"] .button {
	display: inline-block;
	vertical-align: middle;
}
[class^="msg-"] .text,
[class*=" msg-"] .text {
	width: 77%;
	font-size: 17px;
	font-size: 1.7rem;
}
[class^="msg-"] .box-full,
[class*=" msg-"] .box-full {
	width: 100%;
}
[class^="msg-"] .text .text,
[class*=" msg-"] .text .text {
	width: 86%;
}
[class^="msg-"] .button,
[class*=" msg-"] .button {
	width: 23%;
	text-align: right;
}
[class^="msg-"] .button .text,
[class*=" msg-"] .button .text {
	text-transform: uppercase;
	font-family: 'Montserrat-Regular';
	font-size: 15px;
	font-size: 1.5rem;
}

[class^="msg-"] a,
[class*=" msg-"] a { color: #2c2c2c; font-weight: bold; }

[class^="msg-"] .btn,
[class*=" msg-"] .btn { display: inline-block; vertical-align: middle; }

[class^="msg-"] .btn + .btn,
[class*=" msg-"] .btn + .btn { margin-left: 6px; }


[class^="msg-"].mod-split-text .text,
[class*=" msg-"].mod-split-text .text {
	width: 64%;
}
[class^="msg-"].mod-split-text .button,
[class*=" msg-"].mod-split-text .button {
	width: 36%;
}
[class^="msg-"].mod-split-text .button .text,
[class*=" msg-"].mod-split-text .button .text {
	width: 100%;
}

/* Messages :: Slider */
.slider-notification  .slick-slide .icon,
.slider-notification  .slick-slide .button {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    transition: opacity 2s ease;
}
.slider-notification .slick-current.slick-slide .icon,
.slider-notification  .slick-current.slick-slide .button { opacity: 1; filter: alpha(opacity=100); }

/* Messages :: Warning */
[class^="msg-warning"],
[class*=" msg-warning"] {
	background: #eee;
	text-transform: uppercase;
}
.mod-section [class^="msg-warning"],
.mod-section [class*=" msg-warning"] {
	background: #f2f2f2;
}
[class^="msg-warning"] .wrapper, [class*=" msg-warning"] .wrapper {
	padding-left: 20px;
}
[class^="msg-warning"] .icon,
[class*=" msg-warning"] .icon {
	width: 55px;
	height: 47px;
	margin-right: 5px;
	background: transparent url(../images/msg-icn-warning.svg) no-repeat 0 0;
        background-size: 92% !important;
	font-size: 0;
	text-indent: -9999px;
}
.ie8 [class^="msg-warning"] .icon,
.ie8 [class*=" msg-warning"] .icon {
	width: 55px;
	height: 47px;
	margin-right: 5px;
	background: transparent url(../images/msg-icn-warning.png) no-repeat 0 0;
	font-size: 0;
	text-indent: -9999px;
}
/* [class^="msg-warning"] .text, [class*=" msg-warning"] .text {
	width: 100%;
}
[class^="msg-warning"] .button, [class*=" msg-warning"] .button {
	width: 24%;
} */

/* Messages :: Input inside Warning */
[class^="msg-warning"] .ipt-wrapper:before,
[class*=" msg-warning"] .ipt-wrapper:before,
[class^="msg-warning"] .ipt-wrapper:after,
[class*=" msg-warning"] .ipt-wrapper:after,
[class^="msg-warning"] .ipt-wrapper-modal:before,
[class*=" msg-warning"] .ipt-wrapper-modal:before,
[class^="msg-warning"] .ipt-wrapper-modal:after,
[class*=" msg-warning"] .ipt-wrapper-modal:after,
[class^="msg-warning"] .ipt-mask:before,
[class*=" msg-warning"] .ipt-mask:before,
[class^="msg-warning"] .ipt-mask:after,
[class*=" msg-warning"] .ipt-mask:after {
	background: #eee;
}
[class^="msg-warning"] .add-code .button,
[class*=" msg-warning"] .add-code .button {
	width: 100%;
}


/* Messages :: Information */
.msg-information-flight {
	background: #f1fcdd;
}

/* Messages :: Social */
[class^="msg-social"] .image,
[class*=" msg-social"] .image {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	overflow: hidden;
	border-radius: 25px;
}
[class^="msg-social"] .icon,
[class*=" msg-social"] .icon {
	width: 37px;
	height: 45px;
	margin-right: 5px;
}
[class^="msg-social"] .text,
[class*=" msg-social"] .text {
	width: 77.5%;
}
[class^="msg-social"] .button,
[class*=" msg-social"] .button {
	width: 22.5%;
}

/* Messages :: Status */
[class^="msg-status"],
[class*=" msg-status"] {
	background: #eee;
}

/* Messages :: Grouped Notifications */
.wrap-notifications {
	width: 100%;
	max-width: 365px;
	background: #FFF;
	border: 1px solid #ccc;
}
.wrap-notifications .wrap-header {
	padding: 15px;
	border-bottom: 1px solid #ccc;
	//font-family: 'Montserrat-Regular';
	font-size: 16px;
	font-size: 1.6rem;
}
.wrap-notifications .wrap-footer {
	padding: 15px;
	border-top: 1px solid #ccc;
	text-align: center;
}
.wrap-notifications .wrap-header .text,
.wrap-notifications .wrap-header .stp {
	display: inline-block;
	vertical-align: middle;
}
.wrap-notifications .wrap-header .text {
	margin-right: 10px;
}
.wrap-notifications .wrap-footer .text {
	display: block;
}
.wrap-notifications .wrap-footer .btn-wg {
	margin-top: 20px;
}
.wrap-notifications ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrap-notifications ul > li {
	width: 100%;
	border-top: 1px solid #ccc;
}
.wrap-notifications ul > li:first-child {
	border-top: 0;
}
.wrap-notifications [class^="msg-"] .wrapper > .text,
.wrap-notifications [class*=" msg-"] .wrapper > .text,
.wrap-notifications [class^="msg-"] .wrapper > .button,
.wrap-notifications [class*=" msg-"] .wrapper > .button {
	display: block;
	width: 100%;
}
.wrap-notifications [class^="msg-"] .button,
.wrap-notifications [class*=" msg-"] .button {
	margin-top: 15px;
}
.wrap-notifications [class^="msg-"] .text .text,
.wrap-notifications [class*=" msg-"] .text .text {
    width: 80%;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
	[class^="msg-"] .text,
    [class*=" msg-"] .text {
		width: 70%;
	}
	[class^="msg-social"] .text,
    [class*=" msg-social"] .text {
		width: 77.5%;
	}
	[class^="msg-"] .button,
    [class*=" msg-"] .button {
		width: 30%;
	}
	[class^="msg-social"] .button,
    [class*=" msg-social"] .button {
		width: 22.5%;
	}
	[class^="msg-warning"] .icon,
    [class*=" msg-warning"] .icon {
		width: 40px;
		height: 34px;
		background-size: cover;
	}
}

@media screen and (max-width: 768px) {
	[class^="msg-warning"] .icon,
    [class*=" msg-warning"] .icon,
	[class^="msg-social"] .image,
    [class*=" msg-social"] .image {
		visibility: hidden;
		width: 0;
		margin-right: 0;
	}

	[class*=" error-message"] .icon,
	[class^="error-message"] .icon {
		visibility: visible;
		width: 40px;
		margin-right: 5px;
	}

	[class^="msg-"] .text,
    [class*=" msg-"] .text {
		width: 65%;
	}
	[class^="msg-"] .button,
    [class*=" msg-"] .button {
		width: 35%;
	}
   /*  .ask-reservation .double-button .button .btn:first-child {
        margin-bottom: 10px;
    } */
}

@media screen and (max-width: 767px) {
	.ask-reservation .double-button .text,
	.ask-reservation .double-button .button	{
		width: 100%;
	}
	.ask-reservation .double-button .button .mask {
		padding-right: 10px;
		padding-left: 10px;
	}
    .msg-information-flight .button,
    .msg-information-account .button,
    .msg-warning .button,
    .msg-social .button,
    .msg-status .button {
        text-align: center;
    }
    .msg-information-account.ask-reservation .text{
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .msg-information-account.ask-reservation .button{
        text-align: center;
        display: block;
        margin: 14px auto 4px;
    }

}

@media screen and (max-width: 480px) {
	[class^="msg-"] .text,
    [class*=" msg-"] .text, [class^="msg-"] .button,
    [class*=" msg-"] .button {
		display: block;
		font-size: 1.9rem;
		width: 100% !important;
	}
	[class^="msg-"] .text,
    [class*=" msg-"] .text{
		font-weight: 600;
	}
	[class^="msg-"] .button,
    [class*=" msg-"] .button {
		padding: 14px 0 4px;
	}
	[class^="msg-"] .button .text,
    [class*=" msg-"] .button .text{
		text-transform: none;
		font-weight: 500;
		text-align: left;
	}
	[class^="msg-"] .image,
    [class*=" msg-"] .image, [class^="msg-"] .icon,
    [class*=" msg-"] .icon {
		display: none;
	}
	[class*=" error-message"] .text,
    [class^="error-message"] .text,
	[class*=" error-message"] .icon,
    [class^="error-message"] .icon {
		display: inline-block;
		vertical-align: top;
	}

	.msg-alone .wrapper {
		padding-right: 3%;
		padding-left: 3%;
		text-align: center;
	}
}


// SQUARE BUTTONS

.btn--square, .btn--square .txt {
    font-family: $cta-font;
}

.btn--square {
	display: inline-block;
	vertical-align: middle;
	color: #2c2c2c;
    font-size: 1.5rem;
}

.btn.mobile-only {
	display: none;
}

a.btn--square { text-decoration: none; }
button.btn--square { padding: 0; border: none; background:none;}


[class^="btn-txt"],
[class*=" btn-txt"] {
	position: relative;
	margin: 4px 0;
}

[class^="btn-txt"]:before,
[class*=" btn-txt"]:before,
[class^="btn-txt"]:after,
[class*=" btn-txt"]:after,
[class^="btn-txt"] .txt:before,
[class*=" btn-txt"] .txt:before,
[class^="btn-txt"] .txt:after,
[class*=" btn-txt"] .txt:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
}

[class^="btn-txt"]:before,
[class*=" btn-txt"]:before {
	top: -4px;
	left: 0;
	border-bottom: 4px solid #94ce28;
	border-left: 4px solid transparent;
}

[class^="btn-txt"]:after,
[class*=" btn-txt"]:after {
	top: -4px;
	right: 0;
	border-bottom: 4px solid #94ce28;
	border-right: 4px solid transparent;
}

[class^="btn-txt"] .txt,
[class*=" btn-txt"] .txt {
	position: relative;
	display: block;
	background: #94ce28;
	border-right: 4px solid #94ce28;
	border-left: 4px solid #94ce28;
	color: #2c2c2c;
}

[class^="btn-txt"] .txt:before,
[class*=" btn-txt"] .txt:before {
	bottom: -4px;
	left: -4px;
	border-top: 4px solid #94ce28;
	border-left: 4px solid transparent;
}

[class^="btn-txt"] .txt:after,
[class*=" btn-txt"] .txt:after {
	bottom: -4px;
	right: -4px;
	border-top: 4px solid #94ce28;
	border-right: 4px solid transparent;
}

[class^="btn-txt"] .mask,
[class*=" btn-txt"] .mask {
	display: block;
	width: 100%;
	height: 100%;
	padding: 3px 18px 4px;
}

[class^="btn-txt"] .mask:before,
[class*=" btn-txt"] .mask:before,
[class^="btn-txt"] .mask:after,
[class*=" btn-txt"] .mask:after {
	content: ' ';
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	height: 4px;
	background:#94ce28;
}

[class^="btn-txt"] .mask:before,
[class*=" btn-txt"] .mask:before{ top: -4px; }
[class^="btn-txt"] .mask:after,
[class*=" btn-txt"] .mask:after{ bottom: -4px; }

/* Buttons :: hover */
[class^="btn-txt"]:hover:before,
[class*=" btn-txt"]:hover:before,
[class^="btn-txt"]:hover:after,
[class*=" btn-txt"]:hover:after { border-bottom: 4px solid #91d83a; }
[class^="btn-txt"]:hover .txt, [class*=" btn-txt"]:hover .txt { background: #91d83a; border-right: 4px solid #91d83a; border-left: 4px solid #91d83a; }
[class^="btn-txt"]:hover .txt:before,
[class*=" btn-txt"]:hover .txt:before,
[class^="btn-txt"]:hover .txt:after,
[class*=" btn-txt"]:hover .txt:after { border-top: 4px solid #91d83a; }
[class^="btn-txt"]:hover .mask:before,
[class*=" btn-txt"]:hover .mask:before,
[class^="btn-txt"]:hover .mask:after,
[class*=" btn-txt"]:hover .mask:after { background:#91d83a; }

/* Buttons :: big */
//.btn-big--square { display: block; text-align: center; }
.btn-big--square .mask { padding: 8px 25px; }

/* Buttons :: Small */
.btn-small--square { display: block; text-align: center; }
.btn-small--square .mask { padding: 3px 8px 4px; }


/* Buttons :: Dark */
.btn-txt-dark { color: #FFF; }
.btn-txt-dark:before { border-bottom: 4px solid #666; }
.btn-txt-dark:after { border-bottom: 4px solid #666; }
.btn-txt-dark .txt {
	background: #666;
	border-right: 4px solid #666;
	border-left: 4px solid #666;
	color: #FFF;
}
.btn-txt-dark .txt:before { border-top: 4px solid #666; }
.btn-txt-dark .txt:after { border-top: 4px solid #666; }
.btn-txt-dark .mask:before, .btn-txt-dark .mask:after { background:#666; }


.btn-txt-dark.btn-txt-grey:before { border-bottom: 4px solid #999; }
.btn-txt-dark.btn-txt-grey:after { border-bottom: 4px solid #999; }
.btn-txt-dark.btn-txt-grey .txt {
	background: #999;
	border-right: 4px solid #999;
	border-left: 4px solid #999;
	color: #000;
}
.btn-txt-dark.btn-txt-grey .txt:before { border-top: 4px solid #999; }
.btn-txt-dark.btn-txt-grey .txt:after { border-top: 4px solid #999; }
.btn-txt-dark.btn-txt-grey .mask:before, .btn-txt-dark.btn-txt-grey .mask:after { background:#999; }

/* Buttons :: Dark :: Hover */
.btn-txt-dark:hover:before { border-bottom: 4px solid #000; }
.btn-txt-dark:hover:after { border-bottom: 4px solid #000; }
.btn-txt-dark:hover .txt {
	background: #000;
	border-right: 4px solid #000;
	border-left: 4px solid #000;
}
.btn-txt-dark.btn-txt-grey:hover .txt {
	color: #fff;
}
.btn-txt-dark:hover .txt:before { border-top: 4px solid #000; }
.btn-txt-dark:hover .txt:after { border-top: 4px solid #000; }
.btn-txt-dark:hover .mask:before,
.btn-txt-dark:hover .mask:after { background:#000; }

/* Buttons :: Light */
.btn-txt-light { color: #333; }
.btn-txt-light:before { border-bottom: 4px solid #FFF; }
.btn-txt-light:after { border-bottom: 4px solid #FFF; }
.btn-txt-light .txt {
	background: #FFF;
	border-right: 4px solid #FFF;
	border-left: 4px solid #FFF;
	color: #333;
}
.btn-txt-light .txt:before { border-top: 4px solid #FFF; }
.btn-txt-light .txt:after { border-top: 4px solid #FFF; }
.btn-txt-light .mask:before,
.btn-txt-light .mask:after { background:#FFF; }


/* Buttons :: add Border */
.btn-border { color: #6a6a6a; }
.btn-border:before,
.btn-border:after { border-bottom: 4px solid #6a6a6a; }
.btn-border .txt {
	background: #6a6a6a;
	border-right: 4px solid #6a6a6a;
	border-left: 4px solid #6a6a6a;
}
.btn-border .mask {
	padding: 0;
}
.btn-border .txt:before,
.btn-border .txt:after { border-top: 4px solid #6a6a6a; }
.btn-border .mask:before,
.btn-border .mask:after { background:#6a6a6a; }

/* Buttons :: add Border :: border effect */
.btn-border .btn-txt-border {
	margin: 2px -2px;
}
.btn-border .btn-txt-border:before,
.btn-border .btn-txt-border:after { border-bottom: 4px solid #FFF; }
.btn-border .mask .txt {
	background: #FFF;
	border-right: 4px solid #FFF;
	border-left: 4px solid #FFF;
	color: #6a6a6a;
}
.btn-border .mask .mask {
	/* padding: 3px 18px 4px; */
	padding: 1px 18px 2px;
}
.btn-border .mask .txt:before,
.btn-border .mask .txt:after { border-top: 4px solid #FFF; z-index: 1; }
.btn-border .mask .mask:before,
.btn-border .mask .mask:after { background:#FFF; z-index: 1; }

/* Buttons :: add Border :: hover */
.btn-border:hover:before, .btn-border:hover:after { border-bottom: 4px solid #6a6a6a; }
.btn-border:hover .txt {
	background: #6a6a6a;
	border-right: 4px solid #6a6a6a;
	border-left: 4px solid #6a6a6a;
	color: #FFF;
}
.btn-border:hover .txt:before, .btn-border:hover .txt:after { border-top: 4px solid #6a6a6a; }
.btn-border:hover .mask:before, .btn-border:hover .mask:after { background:#6a6a6a; }

/* Buttons :: add Border :: border effect :: hover */
.btn-border:hover .btn-txt-border:before, .btn-border:hover .btn-txt-border:after { border-bottom: 4px solid #6a6a6a; }

/* Buttons :: add Border :: add Color */
.btn-border.btn-color { color: #3e8518; }
.btn-border.btn-color:before, .btn-border.btn-color:after { border-bottom: 4px solid #3e8518; }
.btn-border.btn-color .txt {
	background: #3e8518;
	border-right: 4px solid #3e8518;
	border-left: 4px solid #3e8518;
}
.btn-border.btn-color .txt:before, .btn-border.btn-color .txt:after { border-top: 4px solid #3e8518; }
.btn-border.btn-color .mask:before, .btn-border.btn-color .mask:after { background:#3e8518; }

/* Buttons :: add Border :: add Color :: border effect */
.btn-border.btn-color .mask .txt {
	background: #FFF;
	border-right: 4px solid #FFF;
	border-left: 4px solid #FFF;
	color: #3e8518;
}
.btn-border.btn-color .mask .mask {
	padding: 2px 18px;
}
.btn-border.btn-color .mask .txt:before, .btn-border.btn-color .mask .txt:after { border-top: 4px solid #FFF; }
.btn-border.btn-color .mask .mask:before, .btn-border.btn-color .mask .mask:after { background:#FFF; }

/* Buttons :: add Border :: add Color :: hover */
.btn-border.btn-color:hover:before, .btn-border.btn-color:hover:after { border-bottom: 4px solid #3e8518; }
.btn-border.btn-color:hover .txt {
	background: #3e8518;
	border-right: 4px solid #3e8518;
	border-left: 4px solid #3e8518;
	color: #FFF;
}
.btn-border.btn-color:hover .txt:before, .btn-border.btn-color:hover .txt:after { border-top: 4px solid #3e8518; }
.btn-border.btn-color:hover .mask:before, .btn-border.btn-color:hover .mask:after { background:#3e8518; }

/* Buttons :: add Border :: add Color :: border effect :: hover */
.btn-border.btn-color:hover .btn-txt-border:before, .btn-border.btn-color:hover .btn-txt-border:after { border-bottom: 4px solid #3e8518; }

/* Button :: add Border :: add Style (Filter) */
.btn-border.btn-filter:before,
.btn-border.btn-filter:after {
    border-bottom: 4px solid #c6c6c7;
}
.btn-border.btn-filter .txt {
    border-right: 4px solid #c6c6c7;
    border-left: 4px solid #c6c6c7;
}
.btn-border.btn-filter .txt:before,
.btn-border.btn-filter .txt:after {
    border-top: 4px solid #c6c6c7;
}
.btn-border.btn-filter > .txt > .mask:before,
.btn-border.btn-filter > .txt > .mask:after {
    background: #c6c6c7;
}
.btn-border.btn-filter .mask .txt {
    border-right: 4px solid #FFF;
    border-left: 4px solid #FFF;
}
.btn-border.btn-filter .mask .txt:before,
.btn-border.btn-filter .mask .txt:after {
    border-top: 4px solid #FFF;
}
.btn-border.btn-filter .mask .mask {
    padding: 0 18px 1px;
}
/* Buttons :: add Border :: add Style (Filter) :: hover */
.btn-border.btn-filter:hover .txt {
    background: #e0e0e0;
    color: #666;
}
.btn-border.btn-filter:hover .mask:before,
.btn-border.btn-filter:hover .mask:after {
    background: #c6c6c7;
}
.btn-border.btn-filter:hover .mask .mask:before,
.btn-border.btn-filter:hover .mask .mask:after {
    background: #e0e0e0;
}
.btn-border.btn-filter:hover .mask .txt {
    border-right: 4px solid #e0e0e0;
    border-left: 4px solid #e0e0e0;
}
.btn-border.btn-filter:hover .mask .txt:before,
.btn-border.btn-filter:hover .mask .txt:after {
    border-top: 4px solid #e0e0e0;
}
.btn-border.btn-filter:hover .btn-txt-border:before,
.btn-border.btn-filter:hover .btn-txt-border:after {
    border-bottom: 4px solid #e0e0e0;
}
/* Buttons :: add Border :: add Style (Filter) :: is active */
.btn-border.btn-filter.is-active .txt {
    background: #2c2c2c;
    color: #FFF;
}
.btn-border.btn-filter.is-active .mask:before,
.btn-border.btn-filter.is-active .mask:after {
    background: #c6c6c7;
}
.btn-border.btn-filter.is-active .mask .mask:before,
.btn-border.btn-filter.is-active .mask .mask:after {
    background: #2c2c2c;
}
.btn-border.btn-filter.is-active .mask .txt {
    border-right: 4px solid #2c2c2c;
    border-left: 4px solid #2c2c2c;
}
.btn-border.btn-filter.is-active .mask .txt:before,
.btn-border.btn-filter.is-active .mask .txt:after {
    border-top: 4px solid #2c2c2c;
}
.btn-border.btn-filter.is-active .btn-txt-border:before,
.btn-border.btn-filter.is-active .btn-txt-border:after {
    border-bottom: 4px solid #2c2c2c;
}

/* Buttons :: add Shape */
.btn-txt-shape:before, .btn-txt-shape:after { border-bottom: 4px solid #91d83a; }
.btn-txt-shape .txt { border-left:  4px solid #91d83a; }
.btn-txt-shape .mask { padding: 8px 25px 9px; background: linear-gradient(to right bottom, #91d83a 50%, #94ce28 50%);}
.btn-txt-shape .mask:before {
	content: ' ';
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	height: 4px;
	background: #91d83a;
}
.btn-txt-shape .icn,
.btn-txt-shape .lbl {
	display: inline-block;
	vertical-align: middle;
}
.btn-txt-shape .icn {
	width: 45px;
	height: 32px;
	margin-left: -22px;
	/*background: transparent url(../images/icn-sprite.png) no-repeat 0 0;*/
}
.ie8 .btn-txt-shape .icn {
    width: 45px;
    height: 32px;
    margin-left: -22px;
    background: transparent url(../images/icn-sprite.png) no-repeat 0 0;
}
.btn-txt-shape .icn:before,
.btn-txt-shape .icn:after {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -8%;
	left: 55px;
	height: 116%;
	display: block;
	width: 1px;
	background: #FFF;
}
.btn-txt-shape .icn:after {
	left: 56px;
	background: #EEE;
}
.btn-txt-shape .lbl {
	padding-left: 15px;
}

/* Buttons :: add Shape :: hover */
.btn-txt-shape:hover .mask { background: #91d83a; }

/* Buttons :: add Theme */
.btn-theme { color: #FFF; }
.btn-theme:before, .btn-theme:after { border-bottom: 4px solid #c2000f; }
.btn-theme .txt {
	background: #c2000f;
	border-right: 4px solid #c2000f;
	border-left: 4px solid #c2000f;
	color: #FFF;
}
.btn-theme .txt:before, .btn-theme .txt:after { border-top: 4px solid #c2000f; }
.btn-theme .mask:before, .btn-theme .mask:after { background:#c2000f; }

/* Buttons :: add Theme :: hover */
.btn-theme:hover:before, .btn-theme:hover:after { border-bottom: 4px solid #dc000a; }
.btn-theme:hover .txt {
	background: #dc000a;
	border-right: 4px solid #dc000a;
	border-left: 4px solid #dc000a;
}
.btn-theme:hover .txt:before, .btn-theme:hover .txt:after { border-top: 4px solid #dc000a; }
.btn-theme:hover .mask:before, .btn-theme:hover .mask:after { background:#dc000a; }

/* Buttons :: add Theme & Shape */
.btn-theme.btn-txt-shape:before,
.btn-theme.btn-txt-shape:after { border-bottom: 4px solid #dc000a; }
.btn-theme.btn-txt-shape .txt { border-left: 4px solid #dc000a; }
.btn-theme.btn-txt-shape .mask { background: linear-gradient(to right bottom, #dc000a 50%, #c2000f 50%); }
.btn-theme.btn-txt-shape .mask:before { background:#dc000a; }

/* Buttons :: add Theme & Shape :: hover */
.btn-theme.btn-txt-shape:hover .mask,
.btn-theme.btn-txt-shape:hover .mask:before { background: #dc000a; }

/* Buttons :: add Dark Theme & Shape */
.btn-theme-dark.btn-txt-shape:before,
.btn-theme-dark.btn-txt-shape:after { border-bottom: 4px solid #999; }
.btn-theme-dark.btn-txt-shape .txt {
	border-right: 4px solid #666;
	border-left: 4px solid #999;
}
.btn-theme-dark.btn-txt-shape .txt:before,
.btn-theme-dark.btn-txt-shape .txt:after {
	border-top: 4px solid #666;
}
.btn-theme-dark.btn-txt-shape .mask {
	background: linear-gradient(to right bottom, #999 50%, #666 50%);
	color: #FFF;
}
.btn-theme-dark.btn-txt-shape .mask:before { background:#999; }
.btn-theme-dark.btn-txt-shape .mask:after { background:#666; }

/* Buttons :: add Dark Theme & Shape :: hover */
.btn-theme-dark.btn-txt-shape:hover .txt {
	border-right: 4px solid #999;
}
.btn-theme-dark.btn-txt-shape:hover .mask,
.btn-theme-dark.btn-txt-shape:hover .mask:before { background: #999; }
.btn-theme-dark.btn-txt-shape:hover .txt:before,
.btn-theme-dark.btn-txt-shape:hover .txt:after {
	border-top: 4px solid #999;
}
.btn-theme-dark.btn-txt-shape:hover .mask:after { background:#999; }

/* Buttons :: Darksite */
.btn-txt-darksite { color: #FFF; }
.btn-txt-darksite:before { border-bottom: 4px solid #3e8518; }
.btn-txt-darksite:after { border-bottom: 4px solid #3e8518; }
.btn-txt-darksite .txt {
	background: #3e8518;
	border-right: 4px solid #3e8518;
	border-left: 4px solid #3e8518;
	color: #FFF;
}
.btn-txt-darksite .txt:before { border-top: 4px solid #3e8518; }
.btn-txt-darksite .txt:after { border-top: 4px solid #3e8518; }
.btn-txt-darksite .mask:before,
.btn-txt-darksite .mask:after { background:#3e8518; }

.btn-txt-darksite.btn-section .mask {
	padding: 8px 18px 9px;
}

/* Buttons :: Darksite :: Hover */
.btn-txt-darksite:hover:before { border-bottom: 4px solid #000; }
.btn-txt-darksite:hover:after { border-bottom: 4px solid #000; }
.btn-txt-darksite:hover .txt {
	background: #000;
	border-right: 4px solid #000;
	border-left: 4px solid #000;
}
.btn-txt-darksite:hover .txt:before { border-top: 4px solid #000; }
.btn-txt-darksite:hover .txt:after { border-top: 4px solid #000; }
.btn-txt-darksite:hover .mask:before,
.btn-txt-darksite:hover .mask:after { background:#000; }

button[class^="btn-wg btn-"]:hover,
a[class^="btn-wg btn-"]:hover {
    background-color: transparent;
}

.btn-wg {
    display: inline-block;
    vertical-align: middle;
}

button.btn-wg {
    padding: 0;
    border: none;
    background: none;
}

[class^="msg-"] .btn-wg,
[class*=" msg-"] .btn-wg {
    display: inline-block;
    vertical-align: middle;
}

[class^="msg-"] .btn-wg + .btn-wg,
[class*=" msg-"] .btn-wg + .btn-wg {
    margin-left: 6px;
}

.tp-recover {

    >p {
        text-align: left;
        margin-bottom: 1.8rem;
        @include media(mobile) {
            text-align: left;
        }
    }

    .recover-col1,
    .recover-col2 {

        @include media(xsmall) {
            display: block;
            float: none;
        }

        p {
            margin-bottom: .5rem;
        }
    }

    .recover-col2 {
        border-bottom: 1px solid $color-gray-150;
        margin-bottom: 2rem;

        @include media(xsmall) {
            padding-left: 0;
        }

        p:first-child {
            @include media(xsmall) {
                margin-top: 1.5rem;
            }
        }
        p:nth-child(2) {
            margin-bottom: 0;
        }

        p:last-child {
            padding-left: 33px;
            margin-bottom: 2rem;
        }
    }

    [class^="tapicon-"] {
        font-size: 2.8rem;
        vertical-align: middle;

        .txt-share {
            font-family: $main-font;
            color: $color-main-600;
            text-decoration: underline;
            font-size: 1.5rem;
            vertical-align: middle;
        }

    }

    .tapicon-facebook {
        color: #3b5998;
    }

    .tapicon-twitter {
        color: #1da1f2;
    }

    .tapicon-booking,
    .tapicon-contact {
        color: $color-main-600;
    }

}


[class^="link-icn"], [class*=" link-icn"] {
    padding: 0 0 0 22px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.item [class^="link-icn"], .item [class*=" link-icn"] {
    padding: 0 20px 0 0;
    width: 40px;
    height: 26px;

}

.link-icn-lang {
	padding: 0;
}

.link-icn-lang-pt { background-image:url(../images/link-icn-lang-pt.svg); background-position: -4px; }
.ie8 .link-icn-lang-pt { background-image:url(../images/link-icn-lang-pt.png); background-position: 0 2px; }


.header-country--nft .link-icn {
    padding: 0;
    width: 22px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
}

.site-header__wg .menu-link .link-icn-lang .text.desktop-only {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width:1024px) {
	.site-header__wg .menu-link .link-icn-lang .text.desktop-only,
	.site-header__wg .menu-link .link-icn-lang .link-icn.desktop-only {
		display: none;
	}
}

.site, [class^="site-"], [class*=" site-"] {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Typography */
.txt {
	font-size: 15px;
	font-size: 1.5rem;
	font-family: $main-font;
}
.txt-light {
	font-size: 15px;
	font-size: 1.5rem;
	font-family: $main-font;
    font-weight: lighter;
}
.txt-title {
	font-size: 31px;
	font-size: 3.1rem;
	font-family: $cta-font;
    font-weight: bold;
}
.txt-subtitle {
	font-size: 21px;
	font-size: 2.1rem;
	font-family: $cta-font;
}
.txt-description {
	color: #3e8518;
}
.txt-error {
	color: #e61322;
}

.text-note {
	display: block;
	width: 100%;
	padding: 15px 0;
	color: $color-gray-500;
	text-align: left;
	font-family: $main-font;
	font-size: 14px;
	font-size: 1.4rem;
}
.text-note [class^="note-"],
.text-note [class*=" note-"] {
	display: block;
	width: 100%;
	padding-bottom: 15px;
	color: #2c2c2c;
}

.text-note .note-info {
	color: $color-gray-500;
}

[class^="page-content"],
[class*=" page-content"] {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
    color: $color-gray-700;
    font-family: $main-font;
    font-size: 20px;
    font-size: 2rem;

}
.mod-ie8-only {
    display: none !important;
}

.img-icn {
    display: none;
    width: 24px;
    max-height: 24px;
    margin-right: 6px;
}



.extra-icn {
    fill: red;
}
.special-link .img-content img {
    width: 41px;
}
.special-link .img-content img path {
    fill: $color-main-600;
}
.special-link img {
    max-width: 60px;
    max-height: 40px;
}

/*REFUND RECEIPTS*/
.refundsreceipts__header {
    h2 {
        font-size: 3rem;
        margin-top: 1rem;
    }


    .header-navigation {
        border-top: none;

    }

    .header-navigation.receipts {
        border-top: 1px solid #eee;
    }

}

.rr-container {
    padding-top: 4rem;



    .form-field {
        margin-top: 0;
    }
    .form-field.refund-checkbox {
        margin-top: 1rem;

    }

    h4 + p,
    p + p {
        margin-bottom: 1.7rem;

    }


}

.send-method-choice {
    margin-top: 6px;
}

.send-method-choice li {
    margin-bottom: 1rem;
}

.sendemailreceipt-container,
.refundstate-container {
    display: none;
    padding: 1.5rem;
    margin: 1.5rem 0 1.5rem 2.8rem;
    background-color: $color-gray-250;

}

.confirmation-box--wg {
    padding: 30px;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
    }

    h3.sub-title {
        margin-top: 0;
        margin-bottom: 2rem;
        color: $color-main-600;
    }

    .btn {
        margin-top: 2rem;

    }

    .confirmation-box--text-secundary {
        padding-top: 10px;
        color: $color-gray-500;
    }

    .confirmation-box--date {
        font-size: 1.8rem;
        font-family: $cta-font;
        color: $color-main-600;
    }
}

.svg-success-animate,
.svg-error-animate {
    width: 100px;
    height: 100px;
}

.svg-success-animate {
    path {
        stroke-dasharray: 14; // numero arrendoda do tamanho
        animation: write 1s ease-out;
    }
}

.svg-error-animate {
    line {
        stroke-dasharray: 14; // numero arrendoda do tamanho
        animation: write 1s ease-out;
    }
}

// write é o nome da nossa animação
@keyframes write {
    0% {
        stroke-dashoffset: 14; // tamanho inicial
    }
    100% {
        stroke-dashoffset: 0; // tamanho final
    }
}


.refunds {

    .tapicon-support {
        font-size: 2.5rem;
        position: relative;
        bottom: 2px;
    }

    h2 {
        margin-top: 2rem;
    }

    p {
        margin: 10px 0;

        &:last-child {
            margin: 3rem 0;
        }

    }

}

.refund-ticketid {
    background-color: $color-gray-200;
    height: 40px;
    padding: 10px;
    text-align: center;
}

.payment-terms-wrapper.refunds-terms {
    max-width: 430px;
}

.header-country--nft {
    font-size: 1.2rem;

    @include media(xsmall) {
        display: inline-block;
        margin: 0;
    }
}

.list.num li{

    p:first-child {
        font-weight: bold;
        margin-bottom: 0;
    }

    p {
        margin-left: 12px;
    }

    ul li:before {
        content: "\2022";
        color: $color-main-400;
    }

}

.grecaptcha-message {
  display: none;
  color: red;
}


@include media(xsmall) {

    .rr-container {
        padding-top: 2rem;
    }

    .m-faqs {
        margin-top: 1.5rem;
        margin-right: 5px;
    }

    .tapicon-support {
        margin-top: 1.5rem;

    }

    .g-recaptcha {
        transform:scale(0.68);
        -webkit-transform:scale(0.68);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    .rinfo-ticket .col:last-child {
        text-align: left;

    }


}


.rinfo-ticket .col:last-child {
    text-align: right;

}

.download-file {
    text-transform: uppercase;
    color: $color-main-600;
    font-family: $cta-font;
    &:hover {
        color: $color-gray-900;
    }
    .pdf {
        background: transparent url(../Images/icons/General/download-icon-pdf.svg) no-repeat center center;
    }
    .icon {
        width: 32px;
        height: 34px;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
    }
    .action {
        text-decoration: none;
        font-size: 16px;
        font-size: 1.6rem;
    }
    .specs {
        display: block;
        color: $color-gray-900;
        font-size: 14px;
        font-size: 1.4rem;
    }
    .mod-hidden {
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        margin: -1px;
        border: none;
        padding: 0;
        width: 1px;
        height: 1px;
    }

}

.anixe-logo {
    margin: 3px 0;

    p {
        float: right;

        @include media(xsmall) {
            float: none;
            text-align: center;
        }
    }

}

.vertical-align-wrap {
    display: table !important;
}

.block-promo  {
    .block-main-info {
        background: $color-gray-150;
    }
    .block-side-info {
        background: $color-gray-250;
    }
}

.block-info-destak,
.block-main-info {
    padding: 30px;
    width: 65%;
    font-family: $cta-font;
    .title {
        color: #2c2c2c;
        font-size: 22px;
        font-size: 2.2rem;
    }
}

.vertical-align-content {
    display: table-cell;
    vertical-align: middle;
}

.block-side-info {
    padding: 30px;
    width: 35%;
    text-align: center;
    font-family: $cta-font;
    .code {
        font-size: 30px;
        font-size: 3.0rem;
        line-height: 0.8;
    }
    .code-copy {
        color: $color-gray-800;
        text-decoration: underline;
        font-size: 18px;
        font-size: 1.8rem;
        font-family: $main-font;
        &:hover{
            text-decoration: none;
        }
    }
}

.main-buttons-wrapper .btn-sales {float: right;}
