@charset "UTF-8";

// Config
@import "config/variables";
@import "config/mixins";


/* Styles for ie9 and less */
body {
    font-weight: normal;
    font-style: normal;
}
.fare-conditions-table {
    border-collapse: separate;
    border-spacing: 0;
}

.shopping-cart {
    float: right !important;
}



// components.scss
.modal {
    top: 8%;
    left: 0;
    right: 0;
    overflow: auto;
    margin: auto !important;
}

.selectbox {
    padding-right: 0 !important;
}

.selectbox-arrow {
    display: none;
}

.separator {
    float: none;
}


// styles.scss
.flight-search {
    &.idavolta .airport-separator {
        margin-top: 0 !important;
    }
}


.search-resume-inner {
    display: table;
    width: 100%;
    >  .column {
        display: table-cell;
    }
    .leg {
        padding-top: 0;
    }
}

.login-wraper {
    .visuallyhidden {
        position: static;
        display: block;
        margin: 6px 1px;
        width: auto;
        height: auto;
    }
    .input-prefix {
        margin-top: 49px !important;
    }
}


.header-navigation {
    .step {
        //height: 22px;
        padding-top: 4px;
    }
}


// aside and section
.shopping-cart, .add-more {
    float: right !important;
    height: auto !important;
    width: 30% !important;
}
.content-side {
    float: left !important;
    height: auto !important;
    width: 70% !important;
}

.price-breakdown-total > .inner {
    //position: relative;
    margin-top: 16px;
}

.flight-resume-content {
    .column-fare {
        padding: 0 12px 0 20px;
    }
}
