@charset "UTF-8";

// Config
@import "config/variables";
@import "config/mixins";

// reset.scss
img {
    max-height: 100%;
    border: none;
}

// icons.scss
.flag {
    background-image: url(../../Content/Images/ie/sprite-flags.png);
}

// components.scss
.main-container {
    clear: both;
    display: block;
}
.btn-disabled {
    background-color: #a5d3e5;
}
.popover-inner {
    background-color: #000;
}

// radio
.radio-input {
    position: relative;
}
.radio-bullet {
    display: none;
}
.radio-button {
    .label {
        position: relative;
        bottom: 5px;
    }
}


.modal-overlay {
    background-color: #000;
    filter: alpha(opacity=80);
}

.airport-autocomplete {
    padding-top: 12px;
}

//styles.scss
.header-logo {
    width: 182px;
}
.header-navigation {
    .done .step {
        color: #FFF !important;
    }
    li {
        width: 16.666% !important;
        height: 38px;
    }
}
.airport-select-wrapper .iata-code {
    background-color: $color-gray-300;
    &:before {
        position: absolute !important;
        top: 14px !important;
        left: 23px !important;
    }
}
#datepicker-wrapper {
    width: 940px;
    height: auto;
}
/*.datepicker-time-wrapper {
    width: 820px;
}*/
.ui-datepicker-calendar tbody {
    .start-date,
    .end-date,
    .start-end-date {
        a {
            background-color: $color-main-400;
        }
    }
}
.onetrip .datepicker-time-wrapper {
    display: none;
}
.onetrip .datepicker-time-wrapper.slvzr-first-child  {
    display: block;
}

.passengers-search-options.disabled * {
    filter: alpha(opacity=50);
}
.tap-products-table {
    .products-line .label {
        bottom: 15px;
    }
    .label {
        width: 70px;
    }
    .tap-product,
    .tap-brand {
        margin-top: 11px;
    }
}
.login-wraper {
     .input-prefix {
        margin-top: 33px !important;
    }
}
.price-breakdown-total .inner {
    position: relative !important;
    margin-top: 0 !important;
    float: right;
}

// select.scss
.fare-conditions-table .slvzr-last-child .link {
    margin-top: 0;
    display: inline-block !important;
}

//options.scss
.service-features {
    top: 10px;
    background-color: #FFF;
    filter: alpha(opacity=90);
}

//payment.scss
.payment-method-img img {
    max-height: none;
    max-width: none;
}
.payment-waiting-page {
    height: 100%;
    .modal-content {
        width: 100% !important;
    }
}
.payment-waiting-page-animation {
    display: none;
}
.payment-waiting-page-animation-fallback {
    display: block;
    width: 250px !important;
    margin: 70px auto;
}
//selectbox
.ipt-select .ipt-mask {
	background: #fff url("../../Content/Images/icons/General/bottom.png") no-repeat 97% 50%;
    background-size: 10px 10px;
}
