// Hacks for ie10 and ie11
// http://www.limecanvas.com/css-hacks-targeting-ie-10/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        font-weight: normal;
        font-style: normal;
    }

    // _components.scss
    .modal {
        overflow-y: auto;
    }

    // .styles.scss
    .recent-searches {
        overflow-x: hidden;
    }
    .price-breakdown-total .inner {
        position: relative !important;
        margin-top: 0 !important;
        float: right;
    }
    .flight-result__brand{
        height: 360px;
        float: left;
        width: 24.7%;
        .business-brands &{
            min-height: 225px;
            max-height: 360px;
            height: auto;
            width: 49.7%;
        }
    }
    .flight-result__brand.is-active{
         width: 25%;
        .business-brands &{
            width: 49.7%;
        }
    }
    .multicity-container {
        .stopover-line {
            top: 30px;
        }
    }
    .flight-resume-content{
        .column-fare{
            width: 18%;
        }
    }
    .select-multicity-page {
        .flight-resume-layover {
            .layover-container {
                width: 78%;
            }
        }
    }

    .flight-result__brands {
        .brand-header {
            padding: 10px 0 12px;
        }
        .features-list {
            > li {
                margin-bottom: 5px;
            }

        }
    }

}
