0%{display:none}0%,1%{opacity:0;filter:alpha(opacity=0);max-height:0}1%{display:block}body{font-weight:400;font-style:normal}.selectbox{padding-right:0!important}.selectbox-arrow{display:none}.separator{float:none}