0%{display:none}0%,1%{opacity:0;filter:alpha(opacity=0);max-height:0}1%{display:block}img{max-height:100%;border:none}.main-container{clear:both;display:block}.radio-input{position:relative}.radio-bullet{display:none}.radio-button .label{position:relative;bottom:5px}